navbar-element .navbar {
    background-color: #6c63ff!important; 
}

navbar-element .navbar .nav-link {
    color: white;
}

navbar-element .navbar .nav-link:hover {
    color: #FFFF00;
}

footer-element footer {
    background-color: red !important; 
    color: #ffffff; 
}

/* Footer links */
footer-element footer a {
    color: #ffd700; 
    text-decoration: none;
}

footer-element footer .btn-primary {
    background-color: #FF6600; 
    border-color: #FF6600;
}

footer-element footer .btn-primary:hover {
    background-color: #FF4500; 
    border-color: #FF4500;
}
