<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
    <link rel="stylesheet" href="App.css" />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-black">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
      </div>
    </nav>

    <!-- Button -->
    <button class="navbar-button" type="button">
      <span class="navbar-button-icon">Click here</span>
    </button>

    <!-- -->
    <p class="container">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit...
    </p>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </body>
</html>
