navbar-element .navbar {
    background-color: #675D50!important; 
}

navbar-element .navbar .nav-link {
    color: white;
}

navbar-element .navbar .nav-link:hover {
    color: lightgrey;
}

navbar-element .navbar .brand-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

footer-element footer {
    background-color: #675D50 !important; 
    color: #ffffff; 
}


footer-element footer .footer-links a {
    color: white; 
    text-decoration: none;
}

footer-element footer .footer-links a:hover {
    color: lightgrey !important;
}

footer-element footer .btn-primary {
    background-color: #A9907E; 
    border-color: #675D50;
}

footer-element footer .btn-primary:hover {
    background-color: #4e463d; 
    border-color: #4e463d;

}

footer-element footer .btn-primary:active {
    background-color: #595045 !important; 
    border-color: #595045 !important;
}

