
.navbar {
  background-color: #675D50 !important;
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover {
  color: lightgrey;
}

.brand-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}


.hero-bg {
  background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("../public/images/pups.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-btn {
  --bs-btn-color: #fff;
  --bs-btn-bg: #A78E6D;

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #524C43;

}

.read-more-btn {
  background-color: #A78E6D ;
  border-color: #A78E6D ;
}
.read-more-btn:hover, .read-more-btn:active {
  background-color: #524C43 !important;
  border-color: #524C43;
}

.btn-color {
  background-color: #A78E6D;
  border-color: #A78E6D;
  color: white;
} 
.btn-color:hover {
  background-color: #524C43;
  border-color: #524C43;
  color: white;
}

.indent-text {
  text-indent: 2em;   
  text-align: justify; 
}


.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-img-top-zoom-out {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center 10%;
}


.dog-details {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.prev-next-buttons a {
  background-color: #A78E6D;
  border-color: #A78E6D;
}

.prev-next-buttons a:active{
  background-color: #675D50 !important;
  border-color:#675D50 !important;
}

 .prev-next-buttons a:hover{
  background-color: #675D50;
  border-color: #675D50;
  
 }

.care-text {
  max-width: 800px;
  margin: auto;
}

.care-list {
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.page-indicators {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 12px;
}


footer {
  background-color: #675D50 !important;
  color: #ffffff;
}

footer .footer-links a {
  color: white;
  text-decoration: none;
}

footer .footer-links a:hover {
  color: lightgrey !important;
}

footer .btn-primary {
  background-color: #A78E6D;
  border-color: #675D50;
}

footer .btn-primary:hover {
  background-color: #524C43;
  border-color: #524C43;
}

.card-img-top {
     width: 100%;
     height: 200px; 
     object-fit: cover; 
 }
  .card {
     margin-bottom: 30px;
     text-align: center; 
 }
  .dog-description {
     font-size: 0.95rem;
     margin-bottom: 10px;
 }
  .dog-details {
     list-style: none;
     padding: 0;
     margin: 0;
     font-size: 0.9rem;
 }
  .dog-details li {
     margin-bottom: 4px;
 }