.hero-bg {
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../../public/images/pups.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;    
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Proper Bootstrap variable override */
.hero-btn {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #675D50 !important;

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #A9907E;

  --bs-btn-active-bg: #56382B;
  --bs-btn-active-border-color: #56382B;

}
